* {
    box-sizing: border-box;
}

body {
    margin: 20px;
    padding: 20px;
    background-color: rgb(69, 69, 92);
}

header {
    display: flex;
    align-items: center;
    background-color: #7c522a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lavender;
}


/*Added a <div> element to wrap the img and h1. By doing so, I was able to include a style="width 40%" to control the distribution of the img, h1, and the <nav> elements in the header*/

header div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header div img {
    width: 40%;
    border: 5px solid #6e675f;
    margin-left: 100px;
}

header h1 ul {
    list-style-type: none;
}


/*I included the <nav> element for the four sections requested as part of the assignment in the mock-up. The code includes links to each of the section in the <main> section of the web site*/

header nav {
    display: inline-block
}

header nav ul {
    font-size: 20px;
    list-style-type: none;
}

header nav ul li {
    margin-left: 50px;
    display: inline-block;
}

a {
    color: lavender;
    text-decoration: none;
}


/* This part of the code corresponds to the <main> section below the <header>. I styled each of the 4 sections: About Me, My Work, Contact Me, & My Resume - each <section> has been given an individual <section id> and <div class> for ease of styling*/

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lavender;
}

article {
    font-size: 28px;
}

section {
    margin-top: 10px;
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #6e675f;
    color: lavender;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


/* Note that <h2> captures the styling of all 4 sections: About Me, My Work, etc. By wrapping it in <div class="head2">, I can easily manipulate all 4 sections simultaneously and also align the white line that has been placed on the left margin which seperates <h2> from the rest of the content in each section*/

section h2 {
    padding-right: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    border-right: 5px solid white;
    width: 300px;
}

section h2 ul li {
    list-style-type: none;
    font-size: 52px;
}


/*This section p corresponds to the paragraphs in the About Me section*/

section p {
    font-size: 15px;
    margin-left: 20px;
}


/*This part of the code corresponds to the "My Work" section. I have place 5 cards to place portfolio links. Because I only have one site deployed from the Horiseon assignment, that is the only one that has a working link. The rest of the cards are place holders for future work*/

.Cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 20px;
    width: 100%;
}

.flex-container1 {
    flex-flow: row wrap;
    align-items: stretch;
    width: 33%;
}

.flex-container2 {
    flex-flow: row wrap;
    align-items: stretch;
    width: 33%;
}

.flex-container3 {
    flex-flow: row wrap;
    align-items: stretch;
    width: 33%;
}

.flex-item1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 30px;
    border: 5px solid #7c522a;
    padding: 10px;
    color: lavender;
    height: 200px;
}

.flex-item1 img {
    width: 105%;
    height: 92%;
}

.flex-item2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 30px;
    border: 5px solid #7c522a;
    padding: 10px;
    color: lavender;
    height: 430px;
}

.flex-item2 div a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item2 img {
    width: 107%;
    height: 90%;
}


/*This section corresponds to the "Contact Me" section. I have split the section in two. The first part are static contact point (i.e. phone and emials). The second are social media contact points (i.e. LinkedIn, Academia.edu, twitter). The social media links are functional*/

.contact-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

.email-phone div p {
    font-size: 22px;
}

.virtual-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: lavender;
}

.links {
    font-size: 28px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    list-style-type: none;
}


/*This section corresponds to the "My Resume" section. It contains a link to a pdf file that contains my resume*/

.pdf {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer {
    padding: 10px;
    clear: both;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: lavender;
}

footer h3 {
    font-size: 15px;
}

footer p {
    font-size: 15px;
}


/*This section corresponds to the responsiveness component of the web site. I found two breaking points that required the web site to be modified. the first at a width of 1256px and the other at 732px*/

@media screen and (max-width: 1256px) {
    header {
        justify-content: space-evenly;
    }
    header h1 {
        margin-right: 0px;
    }
    header nav {
        display: none;
    }
    header img {
        margin-left: 0px;
        width: 300px;
    }
    section {
        padding: 0px;
        width: 100%;
        display: inline-block;
    }
    section h2 {
        margin-left: 0px;
        margin-top: -80px;
        border-right: none;
        height: 180px;
        width: 800px;
    }
    section p {
        font-size: 22px;
        margin-left: 30px;
        margin-right: 30px;
    }
    section div {
        color: lavender;
    }
    section div h2 ul li {
        display: inline;
        font-size: 36px;
    }
    section div ul li {
        font-size: 22px;
    }
    .pdf {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 732px) {
    .contact-info {
        margin-bottom: 20px;
    }
}